* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

* h1 {
    font-size: x-large;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    /*max-width: 124.6rem;
    padding: 0 1.5rem;*/
    max-width: 1000px;
    padding: 0 1.5px;
    margin: 0 auto;
}

header {
    background-color: #27a8ad;
    max-width: 1000px;
    /*padding: 0 1.5px;*/
    padding: 0;
    margin: 0 auto;
}

header .wrapper1 {
    background-image: url("./assets/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    margin: 0;
    height: 300px;
}

header img {
    width: 80%;
    padding-left: 20px;
}

header .wrapper1 {
    display: flex;
    justify-content:left;
    align-items: center;
}

header .wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header nav ul li a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 126.9%;
}

header ul {
    display: flex;
    gap: 100px;
}

.area-login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.area-login a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 126.9%;
}

.area-login button {
    background-color: #B65826;
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 126.9%;
    border-radius: 10px;
    padding: 10px 30px;
}

.banner img{
    width: 100%;
    margin-top: 10px;
}

.area-pets {
    margin-top: 25px;
    margin-bottom: 25px;
}

.area-pets-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

.area-pets-row img {
    width: 300px;
}

.area-pets-row p {
    width: 300px;
    font-size: small;
}

footer {
    background-color: #27a8ad;
    max-width: 1000px;
    padding: 0 1.5px;
    margin: 0 auto;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer .wrapper img {
    width: 70%;
}

footer nav ul li a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 126.9%;
}

footer ul {
    display: flex;
    gap: 10px;
}

#copyright-top {
    width: 100%;
    background-color: #348588;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #fff;
    font-style:normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 126.9%;
}

#copyright-top a {
    color: #fff;
}

#copyright-top img {
    width: 10%;
}

@media(max-width: 990px) {
    header .wrapper1 {
        /*background-image: url("./assets/b1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;*/
        /*display: flex;
        justify-content: space-between;
        align-items: center;*/
        margin: 0;
        height: 150px;
    }

    header img {
        width: 40%;
        padding-left: 10px;
    }

    header .wrapper2 {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 10px 40px;
    }
    
    header nav ul li a {
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 126.9%;
    }
    
    header ul {
        display: block;
        gap: 100px;
    }
    
    .area-pets h1 {
        text-align: center;    
    }

    /*.area-pets-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }*/
    .area-pets-row {
        flex-direction: column;
        align-items: center;
    }

    footer .wrapper img {
        width: 70%;
    }
    
    footer nav ul li a {
        color: #fff;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 126.9%;
    }
    
    footer ul {
        display: block;
    }
}