<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/header-footer.css" />
    <link rel="stylesheet" href="/src/css/adote.css" />
    <title>Adote - Instituto LAVHEC</title>
  </head>
  <body onload="loadData()">
    <header id="header">
      <h1>Instituto LAVHEC</h1>
      <div>
        <img src="/src/img/logo.png" alt="logo Instituto LAVHEC" />
      </div>

      <nav>
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#" class="current-page">Adote</a></li>
          <li>
            <a href="/src/views/perdidos-e-achados.html">Perdidos e Achados</a>
          </li>
          <li><a href="/src/views/doacao.html">Doação</a></li>
          <li><a href="/src/views/quem-somos.html">Quem Somos</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="banner-page-title">
        <h3>Cachorros e Gatos para adoção!</h3>
      </section>

      <!-- <section class="page-subtitle"> 
        <h4>Cachorros e Gatos para adoção!</h4>
      </section> -->

      <section class="filter-animal-type">
        <div class="filter-animal-type-text">
          <h5>Filtrar Por:</h5>
        </div>
        <div class="filter-animal-type-buttons">
          <button class="btn-all-animals" onclick="getAllAnimals()">
            Mostar Todos
          </button>
          <button class="btn" onclick="getDataAnimalsFilteredSorted('dog')">
            Cachorros
          </button>
          <button class="btn" onclick="getDataAnimalsFilteredSorted('cat')">
            Gatos
          </button>
        </div>
      </section>

      <section class="animals-main-content">
        <ul id="listAnimals" class="list-animals">
          <!-- Os itens da lista serão adicionados via JS -->
        </ul>
      </section>

      <section id="modalBody" class="modal">
        <!-- O conteudo do Modal será inserido via JS -->
        <!-- <div class="modal-content">
          <div class="modal-container-header">
            <div class="modal-container-btn-close-header">
              <button class="btn-close-modal" onclick="closeModalAdoption()">X</button>
            </div>            
            <div id="modalContainerTitleHeader" class="modal-container-title-header">
              <p class="modal-title-header">
                Você esta a um <b>CLICK</b> de formalizar o pedido de adoção do
                <b>VARIAVEL</b>!
              </p>
            </div>
          </div>

          <div class="modal-container-picture">
            <img
              src="https://images.dog.ceo/breeds/hound-blood/n02088466_8105.jpg"
              alt="Foto do Animal"
              class="modal-animal-picture"
            />
          </div>

          <div class="modal-container-form">            
            <div class="modal-container-title-form">
              <p class="modal-title-form">
                Preencha o formulário abaixo que entraremos em contato
                explicando todos os procedimentos! 
              </p>
            </div>
            <form action="#" class=" modal-container-input-form">
              <label class="label-form" for="userName">Nome:</label>
              <input class="input-form-get-data" type="text" id="userName" name="userName"/>
              <br/>
              <label class="label-form" for="userEmail">E-mail:</label>
              <input class="input-form-get-data" type="email" id="userEmail" name="userEmail"/>
              <br/>
              <input class="btn-form-send-data" type="submit" value="ENVIAR" />
            </form>            
          </div>
        </div> -->
      </section>
    </main>

    <footer>
      <div id="footer">
        <img
          src="/src/img/logo-footer.png"
          alt="logo Instituto LAVHEC rodapé"
        />

        <nav>
          <h2>Menu</h2>
          <ul>
            <div>
              <li><a href="/">Home</a></li>
              <li><a href="#header">Adote</a></li>
              <li>
                <a href="/src/views/perdidos-e-achados.html"
                  >Perdidos e Achados</a
                >
              </li>
            </div>
            <div>
              <li><a href="/src/views/doacao.html">Doação</a></li>
              <li><a href="/src/views/quem-somos.html">Quem Somos</a></li>
            </div>
          </ul>
        </nav>
      </div>

      <div id="credits">
        <a
          href="https://github.com/V-Carvalho/Projeto-Integrador-PROZ"
          target="_blank"
          >&copy; Copyright - Projeto Integrador - Grupo 6</a
        >
        <a href="#header"><span>Voltar para o topo</span><span>&uarr;</span></a>
      </div>
    </footer>

    <script src="../js/adote.js"></script>
  </body>
</html>
