<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/header-footer.css">
    <script src="/src/js/script.js"></script>
    <title>Doação - Instituto LAVHEC</title>
</head>
<body>
  <header id="header">
    <h1>Instituto LAVHEC</h1>
    <div id="logo">
      <img src="/src/img/logo.png" alt="logo Instituto LAVHEC">
    </div>

    <nav>
      <div id="menu-hamburguer">
        <input type="checkbox" name="checkbox-menu" id="checkbox-menu" onclick="isChecked()">
        <label for="checkbox-menu">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/src/views/adote.html">Adote</a></li>
        <li><a href="/src/views/perdidos-e-achados.html">Perdidos e Achados</a></li>
        <li><a href="#" class="current-page">Doação</a></li>
        <li><a href="/src/views/quem-somos.html">Quem Somos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
        <h2>Faça sua Doação</h2>
    </section>
    <section>
      <p>Kit Limpeza R$35,00<a 
      href="mailto:exemplo@exemplo.com?subject=Assunto"> Doar agora</a>
      </p>
    </section>
    <section>
      <p>Kit Medicamentos R$50,00<a 
      href="mailto:exemplo@exemplo.com?subject=Assunto"> Doar agora</a>
      </p>
    </section>
    <section>
        <h2>Doe outro valor</h2>
        <form action="">
            <label for="nome">Nome</label>
            <input id="nome" type="nome" name="nome"
            placeholder="Escreva seu nome aqui">
            <label for="email">Email</label>
            <input id="email" type="email" name="email"
            placeholder="Escreva seu email aqui">
    </section>

  </main>

  <footer>
    <div id="footer">
      <img src="/src/img/logo-footer.png" alt="logo Instituto LAVHEC rodapé">
      
      <nav>
        <h2>Menu</h2>
        <ul>
          <div>
            <li><a href="/">Home</a></li>
            <li><a href="/src/views/adote.html">Adote</a></li>
            <li><a href="/src/views/perdidos-e-achados.html">Perdidos e Achados</a></li>
          </div>
          <div>
            <li><a href="#header">Doação</a></li>
            <li><a href="/src/views/quem-somos.html">Quem Somos</a></li>
          </div>
        </ul>
      </nav>
    </div>
      
    <div id="credits">
      <a href="https://github.com/V-Carvalho/Projeto-Integrador-PROZ" target="_blank">&copy; Copyright - Projeto Integrador - Grupo 6</a>
      <a href="#header"><span>Voltar para o topo</span><span>&uarr;</span></a>
    </div>
  </footer>
</body>
</html>